html {
  font-size: 16px;
  /* VALOR PREDETERMINADO */
}

body {
  background-color: #55595c;
  margin: 0; /* resets the default 8px from most browsers */
  text-align: center; /* centers all text elements in the website */
}

#main-header {
  background-color: white;
  padding: 5px 0; /* top&down left&right */
  margin: 20px 5% 20px 5%; /* top right down left */
}

.games-container img  {
  height: 180px;
  width: 120px;
}

#brands li {
  background-color: white;
  padding: 10px;
  border: 2px solid black; 
  list-style-position: inside; /* moves the bullet point inside the element */
  margin-right: 40px; /* same as native left separation for bullet point */
}

#main-header span {
  color: #a70184;
}


/* PSEUDOCLASES */
#brands li:hover {
  background-color: #a70184;
  font-weight: bold;
  color: white;
  transition: 1s ease;
}


#access-buttons button:active {
  background-color: #a70184;
  color: white;
}

/* PSEUDOELEMENTOS */
#brands li::marker {
  color: orange;
  content: "👾";
}

#brands li::first-letter {
  color: orange;
  /* font-size: 25px; */
  /* em. un % de su tamano de fuente original o predeterminado 120% mas*/
  font-size: 1.5em; 
}

#brands li:hover::after {
  /* Cuando haga hover agrega algo despues del texto */
  content: " EN OFERTA";
  color: crimson;
}
/* ------------------------------------------------------ */

#access-buttons button {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

#access-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  margin-left: 15px;
  margin-right: 15px;
}

/* FLEXBOX */

.content {
  background-color: lightgray;

  /* padding-top: 20px;
  padding-bottom: 20px; */
  padding: 20px 20px; /* con 4 valores sigue las agujas del relog arr/dere/abajo/izqui */

  /* margin-top: 20px;
  margin-bottom: 20px; */
  margin: 20px 20px;
}

.content .card {
  background-color: darkgray;
  border-radius: 20px;

  width: 200px;
  height: 350px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  /* Ejemplo base de animaciones */
  transition: 0.5s ease;
}

.games-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.content .card:hover {
  flex-grow: 1;
  background-color: #a70184;
}

#access-buttons {
  position: sticky;
  top: 0;

  background-color: bisque;
  height: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#access-buttons button span {
  position: relative;
  top: 45px;
}

#access-buttons button i {
  position: relative;
  bottom: 5px;
}

/* #access-buttons button {
  position: relative;
}

#access-buttons button span {
  position: absolute;
  top: 50px;
  right: 0;
  left: 0;
} */

html {
  scroll-behavior: smooth;
}

/* MEDIA QUERYS */

@media (min-width: 768px) {
  /* TABLETAS EN ADELANTE */
  /* TODOS LOS ESTILOS AQUI SOLO APLICARAN PARA TABLETAS MAS GRANDES */
  body {
    background-color: darkblue;
  }

  .games-container {
    gap: 35px;
  }

  #access-buttons {
    justify-content: center;
    gap: 30px;
  }
}

@media (min-width: 1100px) {
  /* PANTALLAS GRANDES EN ADELANTE */
  body {
    background-color: crimson;
  }

  #responsive-container {
    display: flex;
    justify-content: center;
  }
}

/* rem */

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h4 {
  font-size: 1.2rem;
}